anyascii==0.3.2
asgiref==3.7.2
beautifulsoup4==4.11.2
certifi==2023.7.22
charset-normalizer==3.2.0
Cython==0.29.36
defusedxml==0.7.1
distlib==0.3.7
Django==4.2.5
django-cors-headers==3.14.0
django-filter==22.1
django-modelcluster==6.0
django-permissionedforms==0.1
django-taggit==3.1.0
django-treebeard==4.7
djangorestframework==3.14.0
draftjs-exporter==2.1.7
et-xmlfile==1.1.0
filelock==3.12.3
filetype==1.2.0
html5lib==1.1
idna==3.4
l18n==2021.3
openpyxl==3.1.2
Pillow==9.5.0
pipenv==2023.8.28
platformdirs==3.10.0
psycopg2==2.9.7
python-dotenv==1.0.0
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
telepath==0.3.1
urllib3==2.0.4
virtualenv==20.24.4
wagtail==5.0.2
webencodings==0.5.1
Willow==1.5.3
