{% extends "wagtailadmin/home.html" %}
{% load static i18n wagtailadmin_tags %}

{% block branding_logo %}
    <img src="{% static 'tears/images/radionova.png' %}"
         alt="radionova logo"
         width="150" />
{% endblock %}

{% block welcome_message %}
    {% fragment as welcome_message %}
        <div class="w-home-header">
            <div class="w-home-header__icon">
                <div class="avatar square">
                    <img src="{% if user.wagtail_userprofile.avatar %}{{ user.wagtail_userprofile.avatar.url }}{% else %}{% static 'wagtailadmin/images/default-user-avatar.png' %}{% endif %}" alt="{% trans 'Your avatar' %}" />
                </div>
            </div>
            <div class="w-home-header__details">
                <h1>Hei velkommen til Tears, {{ user.get_full_name|default:user.username }}</h1>
                {% if user.groups.exists %}
                    <p class="w-home-header__subtitle">
                        {% for group in user.groups.all %}
                            {{ group.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                {% else %}
                    <p class="w-home-header__subtitle">{% trans 'No groups assigned' %}</p>
                {% endif %}
            </div>
        </div>
    {% endfragment %}
    {% component "wagtail/home/welcome_message" welcome_message=welcome_message %}
{% endblock %}