{% extends "wagtailadmin/login.html" %}
{% load static %}

{% block branding_logo %}
    <div style="text-align: center; margin-top: 20px;">
        <img src="{% static 'tears/images/radionova.png' %}" alt="Radio Nova" style="max-height: 100px; width: auto;" />
    </div>
{% endblock %}

{% block branding_login %}
    Sign in to Tears
{% endblock %}
 {% block extra_css %}
    <style>
       /* Got to make sure to override the wagtail styles with important and i want to have a simple dark theme and red buttons and details*/
         :root {
            /*dark mode default*/
   --w-color-surface-page:var(--w-color-grey-600);
        --w-color-surface-field: var(--w-color-grey-600);
        --w-color-surface-field-inactive: var(--w-color-grey-500);
        --w-color-surface-header: var(--w-color-grey-700);
        --w-color-surface-menus: var(--w-color-grey-800);
        --w-color-surface-menu-item-active: var(--w-color-grey-700);
        --w-color-surface-tooltip: var(--w-color-grey-500);
        --w-color-surface-button-default: #C61A24;
        --w-color-surface-button-hover: #ED1C24;
        --w-color-surface-button-inactive: var(--w-color-grey-400);
        --w-color-surface-button-outline-hover: var(--w-color-grey-700);
        --w-color-surface-button-critical-hover: var(--w-color-grey-600);
        --w-color-surface-status-label: var(--w-color-grey-600);
        --w-color-surface-info-panel: var(--w-color-info-100);
        --w-color-surface-dashboard-panel: var(--w-color-grey-800);
        --w-color-text-button: var(--w-color-white);
        --w-color-text-label-menus-default: var(--w-color-white-80);
        --w-color-text-label-menus-active: var(--w-color-white);
        --w-color-text-label: var(--w-color-grey-150);
        --w-color-text-context: var(--w-color-grey-50);
        --w-color-text-meta: var(--w-color-grey-150);
        --w-color-text-placeholder: var(--w-color-grey-200);
        --w-color-text-link-default: #C61A24;
        --w-color-text-link-hover: #ED1C24;
        --w-color-text-button-outline-default: var(--w-color-secondary-100);
        --w-color-text-button-outline-hover: var(--w-color-secondary-100);
        --w-color-text-highlight: var(--w-color-secondary-400);
        --w-color-text-error: var(--w-color-critical-100);
        --w-color-text-button-critical-outline-hover: var(--w-color-critical-50);
        --w-color-text-status-label: var(--w-color-info-75);
        --w-color-text-link-info: var(--w-color-grey-50);
        --w-color-icon-primary: var(--w-color-grey-150);
        --w-color-icon-primary-hover: var(--w-color-grey-50);
        --w-color-icon-secondary: var(--w-color-grey-150);
        --w-color-icon-secondary-hover: var(--w-color-grey-50);
        --w-color-border-furniture: var(--w-color-grey-500);
        --w-color-border-button-small-outline-default: var(--w-color-grey-400);
        --w-color-border-field-default: var(--w-color-grey-400);
        --w-color-border-field-inactive: var(--w-color-grey-500);
        --w-color-border-field-hover: var(--w-color-grey-200);
        --w-color-border-button-outline-default: var(--w-color-secondary-100);
        --w-color-border-button-outline-hover: var(--w-color-secondary-100);
        --w-color-border-interactive-more-contrast: var(--w-color-grey-150);
        --w-color-border-interactive-more-contrast-hover: var(--w-color-white);
        --w-color-border-interactive-more-contrast-dark-bg: var(--w-color-grey-150);
        --w-color-border-interactive-more-contrast-dark-bg-hover: var(--w-color-white);
        --w-color-border-furniture-more-contrast: var(--w-color-grey-400);
        --w-color-focus: #C61A24;
        --w-color-box-shadow-md: var(--w-color-black-50);
        color-scheme: dark
         }
         .login {
    background: var(--w-color-grey-800);
    color: var(--w-color-text-label);}
     
         /* Hide the forgotten password link since it does not work for now */
         a[href*="password-reset"],
         a[href*="password_reset"] {
             display: none !important;
         }
        
    </style>
{% endblock %}