{% extends "wagtailadmin/login.html" %}
{% load static %}

{% block branding_logo %}
    <div style="text-align: center; margin-top: 20px;">
        <img src="{% static 'tears/images/radionova.png' %}" alt="Radio Nova" style="max-height: 100px; width: auto;" />
    </div>
{% endblock %}

{% block branding_login %}
    Sign in to Tears
{% endblock %}
 {% block extra_css %}
    <style>
       /* Got to make sure to override the wagtail styles with important and i want to have a simple dark theme and red buttons and details*/
         body {
              background-color: #ffffff !important; /* Dark background */
              color: #000000 !important; /* Light text color */
         }
         .login, .login-wrapper, .w-panel, .w-panel__content {
            background: rgba(3, 3, 3, 0.95) !important;
            backdrop-filter: blur(20px) !important;
          
           
            
        }
        a:hover, .login a:hover {
            color: #ff4444 !important;
        }
        
       .button {
            background: #A21723 !important;
            border: none !important;
            color: white !important;
            font-weight: 600 !important;
            border-radius: 8px !important;
            
            transition: all 0.3s ease !important;
            box-shadow: 0 4px 15px rgba(229, 62, 62, 0.3) !important;
            width: 100% !important;
            cursor: pointer !important;
            font-size: 16px !important;
        }
          /* Checkbox label */
        label[for*="remember"], .login label[for*="remember"] {
            color: #d1d5db !important;
            font-weight: normal !important;
        }
        .login .content-wrapper {
           background:  #1c1b1b !important;
        }
        .login h1 {
            color: #ffffff !important;
            font-weight: 700 !important;
        }
        .w-field__label{
            color: #d1d5db !important;
            font-weight: 600 !important;
        }
        a {
            color: #ff4444 !important;
            text-decoration: none !important;
        }
        .login .remember-me {
            color: #d1d5db !important;
        }
        input[type=checkbox] {
    appearance: none;
    background-color: var(--w-color-surface-field);
    border: 1px solid var(--w-color-border-field-default);
    border-radius: .3125rem;
    color: black;
    cursor: pointer;
    display: inline-block;
    flex-shrink: 0;
    height: 1.5rem;
    margin-inline-end: .625rem;
    position: relative;
    width: 1.5rem;
    --w-color-secondary: hsl(0deg 0% 0%) !important;
}
input[type=date], input[type=datetime-local], input[type=email], input[type=file], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], textarea, select {
    background-color: #2c2c2c !important;
    border: 1px solid #444 !important;
    color: #f0f0f0 !important;
}
:focus-visible {
    outline: 2px solid #ff4444 !important;
    outline-offset: 2px !important;
}
       
        
    </style>
{% endblock %}