
    <!-- FOOTER -->
{% load wagtailimages_tags wagtailroutablepage_tags %}
{% load static %}

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-content">
                <div class="footer-logos">
                    <img src="{% static 'tears/images/ansvarsmerke.png' %}" alt="VT Logo" class="footer-logo">
                    <img src="{% static 'tears/images/vt.logo.png' %}" alt="Pen Logo" class="footer-logo">
                </div>
                <div class="footer-info">
                    <p>Radio Nova er Oslo-studentenes helt egne radiokanal og en av Norges største lokalradioer.</p>
                    <p>Adresse: Radio Nova Pb. 1162 Blindern 0317 Oslo<br>
                    Telefonnummer: +4747456020<br>
                    E-postadresse: post@radionova.no<br>
                    Organisasjonsnummer: 975 425 096</p>
                </div>
            </div>
            <div class="footer-bottom"> 
                <!-- @toDO not mobile compatiable -->
                <p>&copy; 2025 Radio Nova <a href="#" class="back-to-top float-right">Back to top</a></p>
                <p></p>
            </div>
        </div>
      </footer>