{% extends "tears/base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% load static %}
{% block content %}
    
 <!-- @Todo margins  Maybe we dont want this website. Odd inistialy said we can make it simpler by just adding a spotify embed 
  thats it. -->
  <head>
    <style>
      body {
        
        margin-left:200px;
        margin-right: 200px;
        margin-top: 50px;
      }
    

    </style>
  </head>
  <body>

<!-- Title Section -->
<div class="title middle">
    <h1>A-LISTA</h1>
</div>

<!-- Featurette Section -->
<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">
            {{ page.uke }} <span class="text-muted">Våre favoritter</span>
        </h2>
        <p class="lead">
            {{ page.post_message }}
        </p>
        <p>
            <a class="btn btn-secondary" href="#" role="button">Les mer &raquo;</a>
        </p>
    </div>

    <!-- Image Grid Section -->
    <div class="col-md-5">
        <div class="image-grid">
            {% for block in page.images %}
                <div class="image-box">{% image block.value fill-300x300 %}</div>
            {% endfor %}
        </div>
    </div>
</div>
</body>

{% endblock %}


    