{% extends "tears/base.html" %}
{% load wagtailcore_tags %}
{% load static %}
{% block content %}
    
 <!-- @Todo margins-->
    <div class="title middle">
        <h1>A-LISTA</h1>
    </div>
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          <p><a class="btn btn-secondary" href="#" role="button">Les mer &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="{% static 'tears/images/radionova.png' %}" alt="Generic placeholder image">
        </div>
      </div>
    
      <hr class="featurette-divider">
    
      
      
  


    

{% endblock %}