{% load static wagtailcore_tags wagtailuserbar compress %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if page.seo_title %}
                    {{ page.seo_title }}
                {% else %}
                    {{ page.title }}
                {% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}<meta name="description" content="{{ page.search_description }}" />{% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}<base target="_blank">{% endif %}
       

        {% compress css %}
        <link rel="stylesheet" href="{% static 'tears/css/base.css' %}">
        <!-- Bootstrap 4 CSS -->
        
        {% endcompress %}
        
        {% block extra_css %}{# Override this in templates to add extra stylesheets #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Your custom CSS -->
        <link rel="stylesheet" href="{% static 'tears/css/footer.css' %}">
        {% endblock %}
        
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        {% wagtail_site as current_site %}
        {% if not current_site.root_page %}
            {% pageurl current_site as root_page_url %}
            <p>
                Root page not found. <a href="{{ root_page_url }}">Choose a different site</a>.
            </p>
        {% endif %}
        {% include "components/navbar.html" %}
        <!-- {% include "components/head.html" %} --> 
        
        
        
        {% block content %}{% endblock %}
        

        <!-- <div class="footer">
            <p>&copy; {{ current_site.site_name }} {{ current_site.root_page.first_published_at|date:"Y" }}</p>
        </div>  -->
        {# Global javascript #}
        {% compress js %}
        <script type="text/javascript" src="{% static 'tears/js/radiospiller.js' %}"></script>

        
        

        
       
        {% endcompress %}
        
        {% block extra_js %}
             <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <!-- Bootstrap 4 JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>


        {% include "components/footer.html" %}
        {% endblock %}
</html>
