{% extends "tears/base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="{% static 'tears/css/blogpost.css' %}" rel="stylesheet">
    
</head>
<body>
   
    
    
    <div class="container">
        <div class="main-image">
            {% for block in page.body %}
                {% if block.block_type == "main_image" %}
                    {% image block.value width-1500 height-500 %}
                {% endif %}
            {% endfor %}
        </div>
        
        <p class="image-description">{{ page.imageDecription }}</p>
        
        <h1 class="post-title">{{ page.title }}</h1>
        
        <div class="ingress">
            {{ page.ingress }}
        </div>
        
        <div class="meta-info">
            <p>Skrevet av: {{ page.forfatter }}</p>
            <p> {{ page.redaksjon }}</p>
            <p> {{ page.date }}</p>
        </div>
        
        <div class="content">
            {% for block in page.body %}
                {% if block.block_type == "content" %}
                    {{ block.value }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>
</html>