{% extends "tears/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}




      <!-- PErsons and radionova employes
      ================================================== -->
      <div class="container marketing">
        <div class="title middle">
          <h1 id="dagtid">DAGTID</h1>
        </div>

        <div class="row">
          {% for person in dagtid_list %}
          <div class="col-lg-4">
            {% for block in person.portrett_bilde %}
            {% image block.value fill-140x140 class="rounded-circle" %}

            {% endfor %}


            <h2>{{ person.DagTidNavn }}</h2>
            <h4>{{ person.Rolle }}</h4>
            <p>{{ person.beskrivelse }}</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">Ta kontakt &raquo;</a></p>-->
          </div>
          {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
          <!-- Create a new row every 3 items -->
          {% endif %}
          {% endfor %}
        </div>
      </div>

{% endblock %}
