{% extends "tears/base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
<!-- Main content -->
{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="{% static 'tears/css/footer.css' %}">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="{% static 'tears/js/base.js' %}"></script>
  <script src="{% static 'tears/js/programmerSlider.js' %}"></script>

</head>

<body > <!-- #ToDo background color FBF9FA -->



  <div id="hovedinnhold" class="min-h-screen bg-white">
    <!-- Content will be added here -->
 

  <!-- NETTSAKER -->
  <main class="max-w-6xl mx-auto px-4 py-8 ">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-6 gap-6">

      {% for post in latest_posts %}

      {% if forloop.counter == 1 %}
      <!-- First big article (left) -->
      <a href="{{ post.url }}"
        class="col-span-1 sm:col-span-1 lg:col-span-4 bg-white shadow-sm flex flex-col group">
        <div class="relative">
          {% for block in post.body %}
          {% if block.block_type == 'main_image' %}
          {% image block.value fill-1200x500 as img %}
          <img src="{{ img.url }}" alt="{{ post.title }}" class="w-full h-80 object-cover">
          {% endif %}
          {% endfor %}
          {% if post.typeArticle == "intervju" or post.typeArticle == "anmeldelse" %}
          <div class="absolute bottom-0 left-2 translate-y-1/2">
            <div class="interview-parallelogram text-white text-xs font-bold px-8 py-2">
              {{ post.get_typeArticle_display }}
            </div>
          </div>
          {% endif %}

        </div> 
        <div class="p-4 flex flex-col flex-1"> <!-- Kanksje la de velge isdenfor la programmet sin kategori komme opp-->
          <h2 class="text-2xl font-bold text-gray-800 mb-2 group-hover:text-red-700">{{ post.title }}</h2>
          <div class="flex flex-wrap gap-2 mt-2">
            {% if post.program and post.program.category %}
              {% with category_name=post.program.get_category_display %}
                {% if category_name == 'Aktualitet' %}
                  <span class="text-xs px-2 py-1 bg-blue-100 text-blue-700 rounded-full">{{ category_name }}</span>
                {% elif category_name == 'Humor & underholdning' %}
                  <span class="text-xs px-2 py-1 bg-pink-100 text-pink-700 rounded-full">{{ category_name }}</span>
                {% elif category_name == 'Kultur' %}
                  <span class="text-xs px-2 py-1 bg-green-100 text-green-700 rounded-full">{{ category_name }}</span>
                {% elif category_name == 'Musikk' %}
                  <span class="text-xs px-2 py-1 bg-yellow-100 text-yellow-700 rounded-full">{{ category_name }}</span>
                {% elif category_name == 'Tema' %}
                  <span class="text-xs px-2 py-1 bg-purple-100 text-purple-700 rounded-full">{{ category_name }}</span>
                {% elif category_name == 'Tidligere programmer' %}
                  <span class="text-xs px-2 py-1 bg-gray-100 text-gray-700 rounded-full">{{ category_name }}</span>
                {% else %}
                  <span class="text-xs px-2 py-1 bg-neutral-100 text-neutral-700 rounded-full">{{ category_name }}</span>
                {% endif %}
              {% endwith %}
            {% endif %}
          </div>
        </div>

      </a>

      {% elif forloop.counter == 2 %}
      <!-- First row, second article (smaller) -->
      <a href="{{ post.url }}"
        class="col-span-1 sm:col-span-1 lg:col-span-2 bg-white shadow-sm overflow-hidden flex flex-col group">
        <div class="relative">
          {% for block in post.body %}
          {% if block.block_type == 'main_image' %}
          {% image block.value fill-600x400 as img %}
          <img src="{{ img.url }}" alt="{{ post.title }}" class="w-full h-80 object-cover">
          {% endif %}
          {% endfor %}
          {% if post.typeArticle == "intervju" or post.typeArticle == "anmeldelse" %}
          <div class="absolute bottom-0 left-2 translate-y-1/2">
            <div class="interview-parallelogram text-white text-xs font-bold px-8 py-2">
              {{ post.get_typeArticle_display }}
            </div>
          </div>
          {% endif %}

        </div>
        <div class="p-4 flex flex-col flex-1">
          <h2 class="text-xl font-bold text-gray-800 mb-2 group-hover:text-red-700">{{ post.title }}</h2>
        </div>
      </a>

      {% elif forloop.counter == 3 or forloop.counter == 4 %}
      <!-- Second row: 2 articles side-by-side -->
      <a href="{{ post.url }}"
        class="col-span-1 sm:col-span-1 lg:col-span-3 bg-white shadow-sm overflow-hidden flex flex-col group">
        <div class="relative">
          {% for block in post.body %}
          {% if block.block_type == 'main_image' %}
          {% image block.value fill-600x400 as img %}
          <img src="{{ img.url }}" alt="{{ post.title }}" class="w-full h-64 object-cover">
          {% endif %}
          {% endfor %}
          {% if post.typeArticle == "intervju" or post.typeArticle == "anmeldelse" %}
          <div class="absolute bottom-0 left-2 translate-y-1/2">
            <div class="interview-parallelogram text-white text-xs font-bold px-8 py-2">
              {{ post.get_typeArticle_display }}
            </div>
          </div>
          {% endif %}

        </div>
        <div class="p-4 flex flex-col flex-1">
          <h2 class="text-lg font-bold text-gray-800 mb-2 group-hover:text-red-700">{{ post.title }}</h2>
        </div>
      </a>

      {% elif forloop.counter == 5 %}
      <!-- Third row: Big article on left -->
      <a href="{{ post.url }}"
        class="col-span-1 sm:col-span-1 lg:col-span-3 bg-white overflow-hidden shadow-sm flex flex-col group">
        <div class="relative">
          {% for block in post.body %}
          {% if block.block_type == 'main_image' %}
          {% image block.value fill-600x400 as img %}
          <img src="{{ img.url }}" alt="{{ post.title }}" class="w-full h-64 object-cover">
          {% endif %}
          {% endfor %}
          {% if post.typeArticle == "intervju" or post.typeArticle == "anmeldelse" %}
          <div class="absolute bottom-0 left-2 translate-y-1/2">
            <div class="interview-parallelogram text-white text-xs font-bold px-8 py-2">
              {{ post.get_typeArticle_display }}
            </div>
          </div>
          {% endif %}

        </div>
        <div class="p-4 flex flex-col flex-1">
          <h2 class="text-lg font-bold text-gray-800 mb-2 group-hover:text-red-700">{{ post.title }}</h2>
        </div>
      </a>

      {% elif forloop.counter == 6 %}
      <!-- Third row: stacked small articles -->
      <div class="col-span-1 sm:col-span-1 lg:col-span-3 flex flex-col gap-8">
        <a href="{{ post.url }}" class="bg-white overflow-hidden shadow-sm flex group">
          <div class="w-1/2 relative">
            {% for block in post.body %}
            {% if block.block_type == 'main_image' %}
            {% image block.value fill-300x200 as img %}
            <img src="{{ img.url }}" alt="{{ post.title }}" class="h-full w-full object-cover">
            {% endif %}
            {% endfor %}
            {% if post.typeArticle == "intervju" or post.typeArticle == "anmeldelse" %}
            <div class="absolute bottom-3 left-0 translate-y-1/2">
              <div class="interview-parallelogram-small text-white text-[10px] font-bold px-3 py-1">
                {{ post.get_typeArticle_display }}
              </div>
            </div>
            {% endif %}
          </div>
          <div class="flex flex-col justify-center p-4 w-2/3">
            <h2 class="text-base font-bold text-gray-800 mb-2 group-hover:text-red-700">{{ post.title }}</h2>
          </div>
        </a>

        {% elif forloop.counter == 7 %}
        <a href="{{ post.url }}" class="bg-white overflow-hidden shadow-sm flex group">
          <div class="w-1/2 relative">
            {% for block in post.body %}
            {% if block.block_type == 'main_image' %}
            {% image block.value fill-300x200 as img %}
            <img src="{{ img.url }}" alt="{{ post.title }}" class="h-full w-full object-cover">
            {% endif %}
            {% endfor %}
            {% if post.typeArticle == "intervju" or post.typeArticle == "anmeldelse" %}
            <div class="absolute bottom-3 left-0 translate-y-1/2">
              <div class="interview-parallelogram-small text-white text-[10px] font-bold px-3 py-1">
                {{ post.get_typeArticle_display }}
              </div>
            </div>
            {% endif %}
          </div>
          <div class="flex flex-col justify-center p-4 w-2/3">
            <h2 class="text-base font-bold text-gray-800 mb-2 group-hover:text-red-700">{{ post.title }}</h2>
          </div>
        </a>
      </div> <!-- End stacked column -->

      {% elif forloop.counter >= 8 %}
      <!-- Fourth row: 3 normal articles side-by-side -->
      <a href="{{ post.url }}"
        class="col-span-1 sm:col-span-1 lg:col-span-2 bg-white shadow-sm overflow-hidden flex flex-col group">
        <div class="relative">
          {% for block in post.body %}
          {% if block.block_type == 'main_image' %}
          {% image block.value fill-600x400 as img %}
          <img src="{{ img.url }}" alt="{{ post.title }}" class="w-full h-64 object-cover">
          {% endif %}
          {% endfor %}
          {% if post.typeArticle == "intervju" or post.typeArticle == "anmeldelse" %}
          <div class="absolute bottom-0 left-2 translate-y-1/2">
            <div class="interview-parallelogram text-white text-xs font-bold px-8 py-2">
              {{ post.get_typeArticle_display }}
            </div>
          </div>
          {% endif %}

        </div>
        <div class="p-4 flex flex-col flex-1">
          <h2 class="text-lg font-bold text-gray-800 mb-2 group-hover:text-red-700">{{ post.title }}</h2>
        </div>
      </a>
      {% endif %}

      {% endfor %}
    </div>

  </main>
</div>


</body>

</html>



{% endblock %}

