{% extends "tears/base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %} 
{% block content %}
{% load static %}
<head>
  <link href="{% static 'tears/css/programmer_page.css' %}" rel="stylesheet">
</head>
<body>
    {% for category_name, programs in grouped_programs.items %}
    <h1>{{ category_name }}</h1>

    {% for program in programs %}
        {% if forloop.first or forloop.counter0|divisibleby:3 %}
        <div class="wrap">
        {% endif %}

        <div class="tile">
          {% if program.main_image %}
          {% image program.main_image width-800 class="program-image" %}
      {% else %}
      <img src="https://via.placeholder.com/800x400?text=No+Image" alt="No image available">
      {% endif %}

            <div class="text">
                <h2 class="animate-text">{{ program.title }}</h2>
                <p class="animate-text">{{ program.intro }}</p>
                
                    
                    <a class="btn btn-link btn-block btn-outline-dark nav-link animate-text" href="{{ program.url }}">
                        GÅ TIL PROGRAMMET
                    </a>
                
            </div>
        </div>

        {% if forloop.counter|divisibleby:3 or forloop.last %}
        </div> <!-- Close wrap after every 3 tiles or at the end -->
        {% endif %}
    {% endfor %}
{% endfor %}

   
   

    
    {% endblock %}
</body>


