{% extends "tears/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block content %}

<head>
    <link href="{% static '\tears\css\sendeplan.css' %}" rel="stylesheet">


    <script src="https://cdn.tailwindcss.com"></script>


</head>

<body>


    <div class="desktop-sendeplan">

        <div class="frame-6">
            <h1 class="sendeplan-heading"> Sendeplan </h1>

            <div class="frame-7">


                <div class="frame-8">

                    <div class="component-2">
                        <div class="component-3">
                            <div class="rectangle"></div>
                            <div class="rectangle-2"></div>
                            <div class="rectangle-3"></div>
                        </div>
                        <div class="text-wrapper-6">Vis som dagsliste</div>
                    </div>
                    <div class="component-4">
                        <div class="component-3">
                            <div class="rectangle-4"></div>
                            <div class="rectangle-5"></div>
                            <div class="rectangle-6"></div>
                        </div>
                        <div class="text-wrapper-4">Vis som ukesoversikt</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="frame-9">
            <div class="frame-2">
                <div class="frame-10">
                    <div class="component-5" id="mandag">
                        <div class="text-wrapper-6">Mandager</div>
                    </div>
                    <div class="component-6" id="tirsdag">
                        <div class="text-wrapper-4">Tirsdager</div>
                    </div>
                    <div class="component-6" id="onsdag">
                        <div class="text-wrapper-4">Onsdager</div>
                    </div>
                    <div class="component-6" id="torsdag">
                        <div class="text-wrapper-4">Torsdager</div>
                    </div>
                    <div class="component-6" id="fredag">
                        <div class="text-wrapper-4">Fredager</div>
                    </div>
                    <div class="component-6" id="lordag">
                        <div class="text-wrapper-4">Lordager</div>
                    </div>
                    <div class="component-6" id="sondag">
                        <div class="text-wrapper-4">Sondager</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="frame-11">
            <div class="Mandager">
                <div class="frame-12">
                    <div class="frame-13">
                        <div class="frame-14">
                            <div class="frame-18">
                                <img class="image" src="img/image-4.png" />
                                <div class="frame-15">
                                    <div class="frame-16">
                                        <div class="frame-17">
                                            <div class="frame-14">
                                                <div class="text-wrapper-4">07:00 - 09:00</div>
                                            </div>
                                        </div>
                                        <div class="frame-3">
                                            <div class="frame-17">
                                                <div class="text-wrapper-7">Mandagtest</div>
                                            </div>
                                            <div class="aftenposten-wrapper">
                                                <div class="text-wrapper-8">Aktualitet</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-wrapper-9">Morgenradio</div>
                                </div><!-- This is showing if the program starts now or not-->
                                <div class="overlap-group-wrapper" style="display: none;">
                                    <div class="overlap-group">
                                        <div class="rectangle-7"></div>
                                        <div class="text-wrapper-10">NÅ</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if latest %}
                        <div class="frame-14">
                            <div class="frame-18">
                                {% if latest.main_image %}
                                {% image latest.main_image fill-1200x500 as img %}
                                <img class="img" src="{{ img.url }}" alt="{{ latest.title }}" />
                                {% else %}
                                <img class="img" src="/static/img/fallback.png" alt="No image" />
                                {% endif %}

                                <div class="frame-15">
                                    <div class="frame-16">
                                        <div class="frame-17">
                                            <div class="frame-14">
                                                <div class="text-wrapper-4">
                                                    {{ latest.start_time|time:"H:i" }} -
                                                    {{ latest.end_time|time:"H:i" }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="frame-3">
                                            <div class="frame-17">
                                                <div class="text-wrapper-7">{{ latest.title }}</div>
                                            </div>
                                            <div class="component-7">
                                                <div class="text-wrapper-8">{{ latest.get_category_display }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-wrapper-9">{{ latest.intro }}</div>
                                </div>

                                <div class="overlap-group-wrapper" style="display: none;">
                                    <div class="overlap-group">
                                        <div class="rectangle-7"></div>
                                        <div class="text-wrapper-10">NÅ</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="frame-14">
                            <div class="frame-18">
                                <img class="img" src="img/image-19.png" />
                                <div class="frame-15">
                                    <div class="frame-16">
                                        <div class="frame-17">
                                            <div class="frame-14">
                                                <div class="text-wrapper-4">19:00 til 20:30</div>
                                            </div>
                                        </div>
                                        <div class="frame-3">
                                            <div class="frame-17">
                                                <div class="text-wrapper-7">Vitenselskapet</div>
                                            </div>
                                            <div class="component-8">
                                                <div class="text-wrapper-8">Tema</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-wrapper-9">Populærvitenskap</div>
                                </div>
                                <div class="overlap-group-wrapper" style="display: none;">
                                    <div class="overlap-group">
                                        <div class="rectangle-7"></div>
                                        <div class="text-wrapper-10">NÅ</div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="Tirsdager">
                <div class="frame-12">
                    <div class="frame-13">
                        <div class="frame-14">
                            <div class="frame-18">
                                <img class="image" src="img/image-4.png" />
                                <div class="frame-15">
                                    <div class="frame-16">
                                        <div class="frame-17">
                                            <div class="frame-14">
                                                <div class="text-wrapper-4">07:00 - 09:00</div>
                                            </div>
                                        </div>
                                        <div class="frame-3">
                                            <div class="frame-17">
                                                <div class="text-wrapper-7">tirsdags</div>
                                            </div>
                                            <div class="aftenposten-wrapper">
                                                <div class="text-wrapper-8">Aktualitet</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-wrapper-9">Morgenradio</div>
                                </div>
                                <div class="overlap-group-wrapper" style="display: none;">
                                    <div class="overlap-group">
                                        <div class="rectangle-7"></div>
                                        <div class="text-wrapper-10">NÅ</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="frame-14">
                            <div class="frame-18">
                                <img class="img" src="img/image-3.png" />
                                <div class="frame-15">
                                    <div class="frame-16">
                                        <div class="frame-17">
                                            <div class="frame-14">
                                                <div class="text-wrapper-4">09:00 - 10:00</div>
                                            </div>
                                        </div>
                                        <div class="frame-3">
                                            <div class="frame-17">
                                                <div class="text-wrapper-7">Skumma kultur</div>
                                            </div>
                                            <div class="component-7">
                                                <div class="text-wrapper-8">Kultur</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-wrapper-9">Diverse kultur</div>
                                </div>
                                <div class="overlap-group-wrapper" style="display: none;">
                                    <div class="overlap-group">
                                        <div class="rectangle-7"></div>
                                        <div class="text-wrapper-10">NÅ</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="Onsdager">
                <div class="frame-12">
                    <div class="frame-13">
                        <div class="frame-14">
                            <div class="frame-18">
                                <img class="image" src="img/image-4.png" />
                                <div class="frame-15">
                                    <div class="frame-16">
                                        <div class="frame-17">
                                            <div class="frame-14">
                                                <div class="text-wrapper-4">07:00 - 09:00</div>
                                            </div>
                                        </div>
                                        <div class="frame-3">
                                            <div class="frame-17">
                                                <div class="text-wrapper-7">Onsdagtest</div>
                                            </div>
                                            <div class="aftenposten-wrapper">
                                                <div class="text-wrapper-8">Aktualitet</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-wrapper-9">Morgenradio</div>
                                </div>
                                <div class="overlap-group-wrapper" style="display: none;">
                                    <div class="overlap-group">
                                        <div class="rectangle-7"></div>
                                        <div class="text-wrapper-10">NÅ</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="Torsdager">
                <div class="frame-12">
                    <div class="frame-13">
                        <div class="frame-14">
                            <div class="frame-18">
                                <img class="image" src="img/image-4.png" />
                                <div class="frame-15">
                                    <div class="frame-16">
                                        <div class="frame-17">
                                            <div class="frame-14">
                                                <div class="text-wrapper-4">14:00 - 16:00</div>
                                            </div>
                                        </div>
                                        <div class="frame-3">
                                            <div class="frame-17">
                                                <div class="text-wrapper-7">Torsdag</div>
                                            </div>
                                            <div class="aftenposten-wrapper">
                                                <div class="text-wrapper-8">Aktualitet</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-wrapper-9">Morgenradio</div>
                                </div>
                                <div class="overlap-group-wrapper" style="display: none;">
                                    <div class="overlap-group">
                                        <div class="rectangle-7"></div>
                                        <div class="text-wrapper-10">NÅ</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="Fredager">
                <div class="frame-12">
                    <div class="frame-13">
                        <div class="frame-14">
                            <div class="frame-18">
                                <img class="image" src="img/image-4.png" />
                                <div class="frame-15">
                                    <div class="frame-16">
                                        <div class="frame-17">
                                            <div class="frame-14">
                                                <div class="text-wrapper-4">07:00 - 09:00</div>
                                            </div>
                                        </div>
                                        <div class="frame-3">
                                            <div class="frame-17">
                                                <div class="text-wrapper-7">Fredags</div>
                                            </div>
                                            <div class="aftenposten-wrapper">
                                                <div class="text-wrapper-8">Aktualitet</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-wrapper-9">Morgenradio</div>
                                </div>
                                <div class="overlap-group-wrapper" style="display: none;">
                                    <div class="overlap-group">
                                        <div class="rectangle-7"></div>
                                        <div class="text-wrapper-10">NÅ</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="Lordager">
                <div class="frame-12">
                    <div class="frame-13">
                        <div class="frame-14">
                            <div class="frame-18">
                                <img class="image" src="img/image-4.png" />
                                <div class="frame-15">
                                    <div class="frame-16">
                                        <div class="frame-17">
                                            <div class="frame-14">
                                                <div class="text-wrapper-4">07:00 - 09:00</div>
                                            </div>
                                        </div>
                                        <div class="frame-3">
                                            <div class="frame-17">
                                                <div class="text-wrapper-7">Fredags</div>
                                            </div>
                                            <div class="aftenposten-wrapper">
                                                <div class="text-wrapper-8">Aktualitet</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-wrapper-9">Morgenradio</div>
                                </div>
                                <div class="overlap-group-wrapper" style="display: none;">
                                    <div class="overlap-group">
                                        <div class="rectangle-7"></div>
                                        <div class="text-wrapper-10">NÅ</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="Sondager">
                <div class="frame-12">
                    <div class="frame-13">
                        <div class="frame-14">
                            <div class="frame-18">
                                <img class="image" src="img/image-4.png" />
                                <div class="frame-15">
                                    <div class="frame-16">
                                        <div class="frame-17">
                                            <div class="frame-14">
                                                <div class="text-wrapper-4">07:00 - 09:00</div>
                                            </div>
                                        </div>
                                        <div class="frame-3">
                                            <div class="frame-17">
                                                <div class="text-wrapper-7">Søndags</div>
                                            </div>
                                            <div class="aftenposten-wrapper">
                                                <div class="text-wrapper-8">Aktualitet</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-wrapper-9">Morgenradio</div>
                                </div>




                            </div>
                        </div>






                        <!-- Toggle html code when vis som uke oversikt er clicked-->
                        <div class="frame" id="frame">
                            <p> her skal sendeplanen</p>



                        </div>


</body>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script src="{% static 'tears/js/sendeplan.js' %}"></script>
<script src="{% static 'tears/js/naavaerendeprogram.js' %}"></script>
{% endblock %}